<form class="profile-form">
    {{#if editable}}
        <div class="profile-form__avatar-mask"></div>
    {{/if}}
    <input class="profile-form__avatar" type="image" name="avatar" src="{{user.avatar}}" alt="User avatar">
    <h1>{{user.display_name}}</h1>
        {{> @partial-block}}
    <div class="profile-form__buttons">
        {{#if editable}}
            {{{ Button label="Change password" onClick=onChangePassword type="link"}}}
            {{{ Button label="Cancel" onClick=onEditCancel type="primary"}}}
            {{{ Button label="Save" onClick=onSave type="primary"}}}
        {{^}}
            {{{ Button label="edit" onClick=onEdit type="link"}}}
            {{{ Button label="Log out" onClick=onLogOut type="link"}}}
            {{{ Button label="Back" onClick=onBack page="messenger" type="primary"}}}
        {{/if}}
    </div>
</form>
